@import '../../../../../../../../packages/shared/src/assets/styles/mixins/mixins';

.navigation {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include body-medium-14pt;

  &_link {
    color: var(--grayscale_100);
    stroke: var(--grayscale_100);
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;

    &.active {
      color: #fff;
      stroke: #fff;
      background-color: var(--primary_90);
    }

    &:hover {
      color: #fff;
      stroke: #fff;
      background-color: var(--primary_90);
    }

    &:active {
      color: #fff;
      stroke: #fff;
      background-color: var(--primary_90);
    }
  }
}
