@font-face {
  font-display: swap;
  font-family: 'Satoshi-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/satoshi/Satoshi-Medium.woff'),
    url('../../fonts/satoshi/Satoshi-Medium.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Satoshi-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/satoshi/Satoshi-Bold.woff'),
    url('../../fonts/satoshi/Satoshi-Bold.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Satoshi-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/satoshi/Satoshi-Regular.woff'),
    url('../../fonts/satoshi/Satoshi-Regular.woff2');
}
