.sidebar {
  display: flex;
  width: 223px;
  min-width: 223px;
  height: 100%;
  max-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 16px;
  background-color: #fff;
  border-radius: 32px 0 0 32px;
}
